<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My test page</title>
    <style>
        .h2-text {
            color: red;
            display: flex;
        }
        p {
            color: blue;
        }
        #h1-text {
            color: green;
        }
        * {
            background: grey;
        {
    </style>
</head>
<body>
<div class="Python">
    <h1 id="h1-text">Title</h1>
    <h2 class="h2-text">Title2</h2>
    <p>Text one <span style="color: green;">textgreen</span> text
        two</p>
    <a href="https://stepik.org/" target="_blank">Python</a>
    <img alt="browser.png" src="https://avatars.mds.yandex.net/get-yapic/31804/0m-7/islands-retina-small"
         style="wight: 10000">
    <ul>
        <li>Item1</li>
        <li>Item2</li>
        <li>Item3</li>
    </ul>
    <ol>
        <li>Item1</li>
        <li>Item2</li>
        <li>Item3</li>
    </ol>
    <form action="/action" method="POST">
        <input type="text" value="123124124" placeholder="text">
        <input required type="Email" placeholder="Email">
        <input type="password" placeholder="Email">
        <button type="submit">TEST</button>
    </form>
    <table>
        <thead>
        <tr>
            <td>head1</td>
            <td>head2</td>
            <td>head3</td>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>body1</td>
            <td>body2</td>
            <td>body3</td>
        </tr>
        <tr>
            <td>body1</td>
            <td>body2</td>
            <td>body3</td>
        </tr>
        <tr>
            <td>body1</td>
            <td>body2</td>
            <td>body3</td>
        </tr>
        </tbody>
    </table>
</div>
<div class="JavaScript">
    <a href="https://stepik.org/" target="_blank">JavaScript</a>

</div>
</body>
</html>